[Unit]
Description=Docker Image Registry
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
TimeoutStartSec=300
ExecStartPre=/usr/bin/docker pull registry:2.1.1
ExecStartPre=-/usr/bin/docker rm -f %n
ExecStartPre=-/bin/mkdir /var/lib/apps-data/registry/
ExecStart=/usr/bin/docker run  --rm --name %n -p 5000:5000 \
          -v /var/lib/apps-data/registry:/tmp/registry-dev \
          registry:2.1.1
RestartSec=5
Restart=always
