########################
##  Project specific  ##
########################
# .tf files that are generated each time

modules/admiral/admiral.tf
modules/admiral/variables.tf
modules/aurora_db/aurora_db.tf
modules/aurora_db/variables.tf
modules/docker_registry/docker_registry.tf
modules/docker_registry/variables.tf
modules/worker_dev/worker_dev.tf
modules/worker_dev/variables.tf
modules/worker_dev/elb.tf
modules/worker_qa/worker_qa.tf
modules/worker_qa/elb.tf
modules/worker_qa/variables.tf
modules/application_launcher/application_launcher.tf
modules/application_launcher/variables.tf
modules/dockerhub/dockerhub.tf
modules/dockerhub/variables.tf
modules/elb/dockerhub.tf
modules/elb/variables.tf
modules/elk/elk.tf
modules/elk/variables.tf
modules/etcd/etcd.tf
modules/etcd/variables.tf
modules/gocd/gocd.tf
modules/gocd/variables.tf
modules/rds/postgres.tf
modules/rds/variables.tf
modules/worker/worker.tf
modules/worker/variables.tf

modules/vpc/*-subnet.tf

resources/terraforms/module-admiral.tf
resources/terraforms/module-docker_registry.tf
resources/terraforms/module-worker_dev.tf
resources/terraforms/module-worker_qa.tf
resources/terraforms/module-application_launcher.tf
resources/terraforms/module-aurora_db.tf
resources/terraforms/module-dockerhub.tf
resources/terraforms/module-elb.tf
resources/terraforms/module-elk.tf
resources/terraforms/module-etcd.tf
resources/terraforms/module-gocd.tf
resources/terraforms/module-rds.tf
resources/terraforms/module-worker.tf

###############
build
*.pem
*.key
.DS_Store
.git
.terraform
.vagrant
coreos-cluster
