#
# Admiral Global autoscale group configurations
#

resource "aws_instance" "docker_registry" {
  # use system generated name to allow changes of launch_configuration
  # name = "workder-${var.ami}"
  ami = "${var.ami}"
  instance_type = "${var.image_type}"
  iam_instance_profile = "${aws_iam_instance_profile.docker_registry.name}"

  availability_zone =<%MODULE-AZ-VARIABLE%>
  subnet_id =  <%MODULE-SUBNET-VARIABLE%>

  # /root
  root_block_device = {
    volume_type = "gp2"
    volume_size = "${var.root_volume_size}"
  }
  # /var/lib/docker
  ebs_block_device = {
    device_name = "/dev/sdb"
    volume_type = "gp2"
    volume_size = "${var.docker_volume_size}"
  }

  key_name = "${var.keypair}"
  security_groups = ["${aws_security_group.docker_registry.id}"]
  lifecycle { create_before_destroy = true }

  # /opt/data
  ebs_block_device = {
    device_name = "/dev/sdc"
    volume_type = "gp2"
    volume_size = "${var.data_volume_size}"
  }

  tags {
        Name = "docker_registry"
  }

  user_data = "${file("cloud-config/s3-cloudconfig-bootstrap.sh")}"
}

resource "aws_iam_instance_profile" "docker_registry" {
    name = "${var.cluster_name}_docker_registry"
    roles = ["${aws_iam_role.docker_registry.name}"]
}

resource "aws_iam_role_policy" "docker_registry_policy" {
    name = "${var.cluster_name}_docker_registry"
    role = "${aws_iam_role.docker_registry.id}"
    policy = "${file(\"policies/docker_registry_policy.json\")}"
}

resource "aws_iam_role" "docker_registry" {
    name = "${var.cluster_name}_docker_registry"
    path = "/"
    assume_role_policy =  "${file(\"policies/assume_role_policy.json\")}"
}

output "docker_registry_private_ip" {
    value = "${aws_instance.docker_registry.private_ip}"
}
