{
  "Comment": "Managed by Stakater",
  "Changes": [
    {
      "Action": "<#ACTION#>",
      "ResourceRecordSet": {
        "Name": "<#RECORD_NAME#>",
        "Type": "A",
        "TTL": 600,
        "ResourceRecords": [
          {
            "Value": "<#RECORD_IP#>"
          }
        ]
      }
    }
  ]
}
