module "docker_registry" {
    source = "../modules/docker_registry"

    image_type = "t2.medium"
    cluster_desired_capacity = 1
    root_volume_size =  50
    docker_volume_size =  50
    data_volume_size =  50
    keypair = "docker_registry"
    allow_ssh_cidr="0.0.0.0/0"

    # aws
    aws_account_id="${var.aws_account["id"]}"
    aws_region = "${var.aws_account["default_region"]}"
    ami = "${var.ami}"

    #cluster name
    cluster_name = "${var.cluster_name}"

    #route53
    route53_private_zone_id = "${module.route53.private_zone_id}"

    # vpc
    vpc_id = "${module.vpc.vpc_id}"
    vpc_cidr = "${module.vpc.vpc_cidr}"

    # This placeholder will be replaced by module subnet id and availability zone variables
    # For more information look into 'substitute-VPC-AZ-placeholders.sh'
    <%MODULE-SUBNET-IDS-AND-AZS%>
}
