module "application_launcher" {
    source = "../modules/application_launcher"

    # application_launcher cluster_desired_capacity should be in odd numbers, e.g. 3, 5, 9
    cluster_desired_capacity = 1
    image_type = "t2.micro"
    keypair = "application_launcher"
    allow_ssh_cidr="0.0.0.0/0"

    # aws
    aws_account_id="${var.aws_account["id"]}"
    aws_region = "${var.aws_account["defailt_region"]}"
    ami_id = ""

    #cluster name
    cluster_name = "${var.cluster_name}"

    # Note: currently application_launcher launch_configuration devices can NOT be changed after application_launcher cluster is up
    # See https://github.com/hashicorp/terraform/issues/2910
    docker_volume_size = 12
    root_volume_size = 12

    # vpc
    vpc_id = "${module.vpc.vpc_id}"
    vpc_cidr = "${module.vpc.vpc_cidr}"

    # elb
    http_instance_port = 8080
    http_lb_port = 80
    https_instance_port = 8080
    https_lb_port = 443
    iam_server_certificate_arn = "${module.server_certificate.server_certificate_arn}"
    health_check_target = "HTTP:8080/"

    # route53
    route53_private_zone_id = "${module.route53.private_zone_id}"
    route53_public_zone_id = "${module.route53.public_zone_id}"
    route53_private_name = "application"
    route53_public_name = "application"

    # This placeholder will be replaced by MODULE subnet id and availability zone variables
    # For more information look into 'substitute-VPC-AZ-placeholders.sh'
    <%ADMIRAL-SUBNET-IDS-AND-AZS%>
}
