[Unit]
Description=gocd server
Requires=docker.service
After=docker.service

[Service]
EnvironmentFile=/etc/environment
EnvironmentFile=/var/lib/apps/gocd/envvars
TimeoutStartSec=0
ExecStartPre=/usr/bin/docker pull ${GOCD_IMAGE}
ExecStartPre=-/usr/bin/docker rm %n
ExecStart=/usr/bin/sh -c "/usr/bin/docker run --rm --name %n ${GOCD_OPTS} ${GOCD_IMAGE}"
ExecStop=/usr/bin/docker stop %n
RestartSec=10
Restart=always
